@font-face {
    font-family:"Cairo" ;
    src:url(../webfonts/Cairo-VariableFont_slnt\,wght.ttf) format(truetype),
        url(../webfonts/static/Cairo-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:"NotoSans";
    src:url(../webfonts/NotoSansArabic-VariableFont_wdth\,wght.ttf) format(truetype)
        url(../webfonts/static/Cairo-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}